In [1]:
#to apply condition on columns:--
import pandas as pd
d1={"name":["Yash","omkar","om","shivam","yogesh"],
    "age":[21,22,23,24,25],
    "salary":[100000000,200000,30000,40000,90000]}
df=pd.DataFrame(d1)
d2=df[df["salary"]<100000]
print("filtered rows:--",d2)

filtered rows:--      name  age  salary
2      om   23   30000
3  shivam   24   40000
4  yogesh   25   90000

In [2]:
import pandas as pd
d1={"name":["Yash","omkar","om","shivam","yogesh"],
    "age":[21,22,23,24,25],
    "salary":[100000000,200000,30000,40000,90000]}
df=pd.DataFrame(d1)
print("Condition on the column")
d2=df[df["salary"]<100000]
print(d2)

Condition on the column
     name  age  salary
2      om   23   30000
3  shivam   24   40000
4  yogesh   25   90000

In [3]:
# apply multiple conditions:--
import pandas as pd
d1={"name":["Yash","omkar","om","shivam","yogesh"],
    "age":[21,22,23,24,25],
    "salary":[100000000,200000,30000,40000,90000]}
df=pd.DataFrame(d1)
print(df)
print("multiple conditions")

d2=df[(df["salary"]<100000)&(df['age']<25)]
print(d2)

     name  age     salary
0    Yash   21  100000000
1   omkar   22     200000
2      om   23      30000
3  shivam   24      40000
4  yogesh   25      90000
multiple conditions
     name  age  salary
2      om   23   30000
3  shivam   24   40000